# Rust
/target
**/*.rs.bk
*.pdb

# Steam
steam_appid.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Debug
*.log
debug/
*.dSYM/

# Release artifacts
/dist
/release
/final-release
*.dmg
*.app
dmg_temp/
AppIcon.iconset/

# OS specific
Thumbs.db
desktop.ini

/VDF*
/CDP*
/ERROR*
/build.sh