[Desktop Entry]
Name=Steam Cloud File Manager
GenericName=Steam Cloud Manager
Comment=Manage and view Steam cloud save files
Exec=steam-cloud-file-manager
Icon=steam-cloud-file-manager
Terminal=false
Type=Application
Categories=Utility;Game;
Keywords=steam;cloud;save;backup;
StartupNotify=true
