name: Auto Merge PR

on:
    pull_request:
        types: [opened, synchronize, reopened]
    check_suite:
        types: [completed]

permissions:
    contents: write
    pull-requests: write

jobs:
    auto-merge:
        name: Auto Merge PR
        runs-on: ubuntu-latest
        if: |
            github.event_name == 'check_suite' &&
            github.event.check_suite.conclusion == 'success' &&
            github.event.check_suite.pull_requests[0] != null
        steps:
            - name: Auto merge
              uses: pascalgn/automerge-action@v0.16.3
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  MERGE_LABELS: automerge,!work-in-progress
                  MERGE_METHOD: squash
                  MERGE_COMMIT_MESSAGE: pull-request-title
                  MERGE_FORKS: false
                  MERGE_RETRIES: 6
                  MERGE_RETRY_SLEEP: 10000
